{% extends 'base.html' %}

{% block title %}Редактировать бронь продукции{% endblock %}

{% block content %}

<a href="{% url 'orders_list' %}" class="btn btn-primary mt-2 col-3">К списку заказов</a>
<p>
    {{ products_on_store_error }}
</p>

<h1>Редактирование брони продукции по заказу</h1>
<form name="specification-create-form" method="post" class="d-flex justify-content-evenly col-12 row">
    <div class="card p-3 mb-2 col-5">
        {% csrf_token %}
        <label>
            {{ form.order.label }}
        </label>
        {{ form.order }}
        <label>
            {{ form.product.label }}
        </label>
        {{ form.product }}
        <label>
            {{ form.store.label }}
        </label>
        {{ form.store }}
        <label>
            {{ form.quantity.label }}
        </label>
        {{ form.quantity }}
        <label>
            {{ form.total_price.label }}
        </label>
        {{ form.total_price }}
        <span class="mt-1">
            Стандартная цена
        </span>
        <P class="border border-dark p-1">
            {{ order_booking.product.cost }}
        </P>
    </div>
    <input type="submit" value="Сохранить" class="btn btn-primary col-8 mb-3">
</form>

{% endblock %}