{% extends 'base.html' %}

{% block title %} Главная страница {% endblock %}

{% block content %}
<h1>Главная страница</h1>
{% if request.user.is_authenticated %}
<p>Приветствую тебя, {{ request.user.username }}!</p>
<h2 class="text-center mb-3">Разделы нашего скромного веб-приложения</h2>
<div class="row justify-content-center">
    <div class="card col-10 mb-3 shadow">
        <div class="card-body">
            <h3 class="card-title">CRM</h3>
            <p class="card-text">
                CRM - блок для работы с клиентами, мы пока работаем над его наполнением,
                а пока в нем есть пара разделов.
            </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item ps-5">
                <h4>Контрагенты</h4>
                <p>
                    Вы уверены в клиенте? В таком случае стоит завести карточку контрагента и приступать к
                    оформлению других документов.
                </p>
                <a class="btn btn-outline-dark" href="{% url 'contractors_list' %}">Посмотреть</a>
            </li>

            <li class="list-group-item ps-5 mb-4">
                <h4>Лиды</h4>
                <p>
                    У вас появился новый клиент! Или нет? Вы не уверены? В любом случае стоит создать новый лид!
                    Вы многое сможете понять, если начнете анализировать работу с лидами.
                </p>
                <a class="btn btn-outline-dark" href="{% url 'leads_list' %}">Взглянуть</a>
            </li>
        </ul>
    </div>

    <div class="card col-10 mb-3 shadow">
        <div class="card-body">
            <h3 class="card-title">Внутренняя структура</h3>
            <p class="card-text">
                Внутренняя структура - блок для работы с вашей организацией, мы пока работаем над его наполнением,
                а пока в нем есть пара разделов.
            </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item ps-5">
                <h4>Организации</h4>
                <p>
                    Первым делом, любой организации нужно разобраться в себе. Этот раздел именно
                    для этого.
                </p>
                <a class="btn btn-outline-dark" href="{% url 'organizations_list' %}">Поглядеть</a>
            </li>

            <li class="list-group-item ps-5 mb-4">
                <h4>Сотрудники</h4>
                <p>
                    Когда мы разобрались с организациями, можно приступать к сотрудникам, которые вращают шестеренки
                    в этом двигателе продаж!
                </p>
                <a class="btn btn-outline-dark" href="{% url 'workers_list' %}">Увидеть</a>
            </li>
        </ul>
    </div>

    <div class="card col-10 mb-3 shadow">
        <div class="card-body">
            <h3 class="card-title">Складской учет</h3>
            <p class="card-text">
                Складской учет - раздел для работы с вашей продукцией и складами, мы пока работаем над его наполнением,
                а пока в нем есть пара разделов.
            </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item ps-5">
                <h4>Продукция</h4>
                <p>
                    Всегда первым делом встает вопрос - "Что продавать?". И этот раздел именно для этого!
                    Создайте карточку продукции, добавьте фотографий, повторите несколько раз и перед вами
                    готовый каталог продукции!
                </p>
                <a class="btn btn-outline-dark" href="{% url 'products_list' %}">Поглядеть</a>
            </li>

            <li class="list-group-item ps-5 mb-4">
                <h4>Склады</h4>
                <p>
                    Сколько, где и когда? Именно на эти вопросы, касательно вашей продукции, можно получить
                    ответы здесь! Создайте склад, оформите приход продукции и сможете оформить расход продукции
                    с чистой совестью!
                </p>
                <a class="btn btn-outline-dark" href="{% url 'stores_list' %}">Посмотреть</a>
            </li>
        </ul>
    </div>

    <div class="card col-5 col-sm-10 mb-3 shadow">
        <div class="card-body">
            <h3 class="card-title">Продажи</h3>
            <p class="card-text">
                Продажи - раздел непосредственно для продаж. Создание договоров, создание и расчет заказов,
                и возможность их распечатать.
            </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item ps-5">
                <h4>Договоры</h4>
                <p>
                    Прежде чем работать с клиентом, следует расставить все точки над "i", договоры именно для этого,
                    вы заранее обозначаете все условия работы с клиентом, и не задумываетесь об этом при
                    составлении заказа.
                </p>
                <a class="btn btn-outline-dark" href="{% url 'contracts_list' %}">Увидеть</a>
            </li>

            <li class="list-group-item ps-5 mb-4">
                <h4>Заказы</h4>
                <p>
                    Когда клиент создан, все условия работы с ним обозначены, можно приступать к созданию заказов.
                    Просто выберите продукцию в каталоге "Продукция" раздела "Складской учет", и нажмите оформить
                    заказ, при создании заказа вся продукция из корзины просто выгрузится в него и пересчитается.
                </p>
                <a class="btn btn-outline-dark" href="{% url 'orders_list' %}">Посмотреть</a>
            </li>

            <li class="list-group-item ps-5 mb-4">
                <h4>Заказы без договора</h4>
                <p>
                    Механизм точно такой же как и в заказах, только с небольшой оговоркой, что вы не создавали договор.
                    Идеально подходит для одиночных продаж, когда вы не знаете, будут ли еще заказы от клиента.
                </p>
                <a class="btn btn-outline-dark" href="{% url 'orders_list' %}">Взглянуть</a>
            </li>
        </ul>
    </div>
</div>
{% else %}
<p>Добро пожаловать на главную страницу нашего сайта, вы еще не авторизовались!</p>
{% endif %}
{% endblock %}