{% extends 'base.html' %}

{% block title %}Контактное лицо{% endblock %}

{% block content %}

<div class="dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
       data-bs-toggle="dropdown" aria-expanded="false">
        Навигация по контрагенту
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li>
            <a href="{% url 'contractor_detail' object.contractor.id %}"
               class="dropdown-item">Контрагент</a>
        </li>

        <li>
            <a href="{% url 'contractor_contracts_list' object.contractor.id %}" class="dropdown-item">Договоры</a>
        </li>

        <li>
            <a href="{% url 'contractor_orders_list' object.contractor.id %}"
               class="dropdown-item">Заказы</a>
        </li>
    </ul>
</div>


<h1>Информация о контакте</h1>
<div class="card col-9">
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">
            <a href="{% url 'contractor_contact_person_edit' object.contractor.id object.id %}" class="btn btn-primary">
                Редактировать
            </a>
        </li>
    </ul>
    <div class="card-body d-flex justify-content-between">
        <h5 class="card-title">Контактное лицо - {{ object.contractor }}</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Должность: {{ object.position }}</li>
        <li class="list-group-item">Имя: {{ object.name }}</li>
        <li class="list-group-item">Отчество\Второе имя: {{ object.second_name }}</li>
        <li class="list-group-item">Фамилия: {{ object.last_name }}</li>
        <li class="list-group-item">Тэги: {{ object.tag }}</li>
    </ul>
</div>

{% if contacts %}
<h4 class="text-center mt-4 border-top border-bottom pb-1">Контактные данные</h4>
<table class="table" id="contact-form-wrapper">
    <thead>
    <tr>
        <th scope="col">Тип контакта</th>
        <th scope="col">Данные</th>
    </tr>
    </thead>
    <tbody>
    {% for contact in contacts %}
    <tr class="contact-form-container">
        <td>{{ contact.type_of_contact }}</td>
        <td>{{ contact.contact }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}


{% endblock %}