{% extends 'base.html' %}

{% block title %}Договоры{% endblock %}

{% block content %}
<div class="dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
       data-bs-toggle="dropdown" aria-expanded="false">
        Навигация по контрагенту
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li>
            <a href="{% url 'contractor_detail' pk %}"
               class="dropdown-item">Контрагент</a>
        </li>

        <li>
            <a href="{% url 'contractor_orders_list' pk %}"
               class="dropdown-item">Заказы</a>
        </li>
    </ul>
</div>

<h1>Договоры</h1>

<a href="{% url 'contract_create' pk %}" class="btn btn-primary mb-3">Добавить договор</a>

{% if contracts %}
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Контрагент</th>
        <th scope="col">Номер</th>
        <th scope="col">Дата создания</th>
    </tr>
    </thead>
    <tbody>
    {% for contract in contracts %}
    <tr class="{% if contract.to_delete %} text-white bg-secondary {% endif %}">
        <td>
            <a class="{% if contract.to_delete %} text-white {% else %} text-reset {% endif %}"
               href="{% url 'contract_detail' contract.id %}">{{ contract.contractor }}</a>
        </td>
        <td>{{ contract.number }}</td>
        <td>{{ contract.created }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}