{% extends 'base.html' %}

{% block title %}Добавить новый инвойс{% endblock %}

{% block content %}

<a href="{% url 'invoices_list' %}" class="btn btn-primary mt-2 col-3">К списку инвойсов</a>

<h1>Создание инвойса</h1>
<p>
    {{ answer }}
</p>
<p>
    {{ errors }}
</p>
<form name="invoice-create-form" method="post" class="d-flex justify-content-evenly col-12 row">
    <div class="card p-3 mb-2 col-5">
        {% csrf_token %}
        <label>
            {{ form.number.label }}
        </label>
        {{ form.number }}
        <label>
            {{ form.specification.label }}
        </label>
        {{ form.specification }}
        <label>
            {{ form.loading_place.label }}
        </label>
        {{ form.loading_place }}
        <label>
            {{ form.shipment_mark.label }}
        </label>
        {{ form.shipment_mark }}
    </div>
    <input type="submit" value="Сохранить" class="btn btn-primary col-8 mb-3">
</form>

{% endblock %}