{% extends 'base.html' %}
{% load static %}
{% block title %}Добавить новый заказ без договора{% endblock %}

{% block content %}

<a href="{% url 'orders_without_contract_list' %}" class="btn btn-primary mt-2">К списку заказов без договора</a>

<p>
    {{ errors }}
</p>
<form name="order-create-form" method="post">
    {% csrf_token %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Новый заказ</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between">
                <div>
                    {{ form.number.errors }}
                    {{ form.number.label }}
                    {{ form.number }}
                </div>
                <div>
                    {{ form.contractor.errors }}
                    {{ form.contractor.label }}
                    {{ form.contractor }}
                </div>
                <div>
                    {{ form.organization.errors }}
                    {{ form.organization.label }}
                    {{ form.organization }}
                </div>
            </li>

            <li class="list-group-item d-flex justify-content-between">
                <div>
                    {{ form.delivery_conditions.errors }}
                    {{ form.delivery_conditions.label }}
                    {{ form.delivery_conditions }}
                </div>
                <div>
                    {{ form.delivery_time.errors }}
                    {{ form.delivery_time.label }}
                    {{ form.delivery_time }}
                </div>
                <div>
                    {{ form.delivery_address.errors }}
                    {{ form.delivery_address.label }}
                    {{ form.delivery_address }}
                </div>
            </li>

            <li class="list-group-item d-flex justify-content-between">
                <div>
                    {{ form.payment_conditions.errors }}
                    {{ form.payment_conditions.label }}
                    {{ form.payment_conditions }}
                </div>
                <div>
                    {{ form.currency.errors }}
                    {{ form.currency.label }}
                    {{ form.currency }}
                </div>
            </li>

        </ul>
        <div class="card-body">
            <input type="submit" value="Сохранить" class="btn btn-primary col-4">
        </div>
    </div>
</form>
{% endblock %}