{% extends 'base.html' %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
<div class="mt-1 col-12">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{ object.type_of_product.title }}</h3>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between">
                <div>
                    Артикул: {{ object.number }}
                </div>

                <div>
                    Модель: {{ object.model }}
                </div>

                <div>
                    Размер: {{ object.size }}
                </div>
            </li>

            <li class="list-group-item d-flex justify-content-between">
                <div>
                    Версия: {{ object.version }}
                </div>

                <div>
                    Материалы: {{ object.materials }}
                </div>

                <div>
                    Цвет: {{ object.color }}
                </div>
            </li>

            <li class="list-group-item d-flex justify-content-between">
                <div>
                    Страна: {{ object.country }}
                </div>

                <div>
                    Внутренняя упаковка: {{ object.packing_inside }}
                </div>

                <div>
                    Внешняя упаковка: {{ object.packing_outside }}
                </div>
            </li>
        </ul>
        <div class="card-body">
            <a href="{% url 'product_edit' object.id %}" class="btn btn-primary">Редактировать</a>
        </div>
    </div>
</div>

{% if stores_with_product %}
<div class="border rounded mt-2">
    <h3 class="ps-2 pt-2">Продукции на складах</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Склад</th>
            <th scope="col">Свободно на складе</th>
            <th scope="col">Забронировано на складе</th>
        </tr>
        </thead>
        <tbody>
        {% for store_with_product in stores_with_product %}
        <tr>
            <td>
                <a href="{% url 'store_detail' store_with_product.store.id %}" class="text-reset">
                    {{ store_with_product.store }}
                </a>
            </td>
            <td>{{ store_with_product.quantity }}</td>
            <td>{{ store_with_product.booked }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}