{% extends 'base.html' %}

{% block title %}Склады{% endblock %}

{% block content %}
<ul class="nav nav-pills pt-2 pb-2 d-flex">
    <li class="col-2">
        <a href="" class="btn btn-primary">Приходы продукции</a>
    </li>

    <li class="col-2">
        <a href="" class="btn btn-primary">Выпуски продукции</a>
    </li>
</ul>

<h1>Склады</h1>
<a href="{% url 'product_store_income' 0 %}" class="btn btn-primary mb-2 mt-2">Оформить приход продукции на склад</a>
{% if stores_list %}
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Название</th>
        <th scope="col">Адрес</th>
    </tr>
    </thead>
    <tbody>
    {% for store in stores_list %}
    <tr>
        <td>
            <a class="text-reset" href="{% url 'store_detail' store.id %}">{{ store.title }}</a>
        </td>

        <td>
            {{ store.address }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}