{% extends 'base.html' %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}

<div class="dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
       data-bs-toggle="dropdown" aria-expanded="false">
        Движения по складу
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li>
            <a href="{% url 'store_income_list' object.id %}" class="dropdown-item">Приходы продукции</a>
        </li>

        <li>
            <a href="" class="dropdown-item">Выпуски продукции</a>
        </li>
    </ul>
</div>


<div class="dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
       data-bs-toggle="dropdown" aria-expanded="false">
        Действия со складом
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li>
            <a href="{% url 'store_income_create' object.id %}" class="dropdown-item">Оформить приход продукции</a>
        </li>

        <li>
            <a href="{% url 'store_outcome_create' object.id %}" class="dropdown-item">Оформить выпуск продукции</a>
        </li>
    </ul>
</div>
<div class="mb-5 col-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ object.title }}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Адрес: {{ object.address }}</li>
        </ul>
    </div>
</div>
{% if products_in_store %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Продукция</th>
            <th scope="col">Количество на складе</th>
            <th scope="col">Забронировано на складе</th>
        </tr>
        </thead>
        <tbody>
        {% for product_in_store in products_in_store %}
        <tr>
            <td>
                <a href="{% url 'product_detail' product_in_store.product.id %}">{{ product_in_store.product }}</a>
            </td>
            <td>{{ product_in_store.quantity }}</td>
            <td>{{ product_in_store.booked }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}