{% extends 'base.html' %}

{% block title %}Склады{% endblock %}

{% block content %}
<ul class="nav nav-pills pt-2 pb-2 d-flex">
    <li class="col-2">
        <a href="" class="btn btn-primary">Приходы продукции</a>
    </li>

    <li class="col-2">
        <a href="" class="btn btn-primary">Выпуски продукции</a>
    </li>
</ul>

<h1>Склады</h1>
<a href="{% url 'product_store_income' %}" class="btn btn-primary mb-2 mt-2">Оформить приход продукции на склад</a>
{% if stores_list %}
    <div class="row">
    {% for store in stores_list %}
        <div class="mb-5 col-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ store.title }}</h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Адрес: {{ store.address }}</li>
              </ul>
              <div class="card-body">
                <a href="{% url 'store_detail' store.id %}" class="btn btn-primary">Открыть</a>
              </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}