{% extends 'base.html' %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
<div class="mt-1 col-12">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Карточка продукции</h1>
        </div>
        <div class="card-img-top">
            <div class="swiper">
                <div class="swiper-wrapper">
                    {% for product_image in object.images.all %}
                    <div class="swiper-slide align-center">
                        <img src="{{ product_image.image.url }}" class="mx-auto d-block" width="300px">
                    </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-scrollbar"></div>
            </div>
        </div>
        <div class="card-body">
            <h3 class="card-text">{{ object.type_of_product.title }}</h3>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between">
                <div>
                    Артикул: {{ object.number }}
                </div>

                <div>
                    Модель: {{ object.model }}
                </div>

                <div>
                    Размер: {{ object.size }}
                </div>
            </li>

            <li class="list-group-item d-flex justify-content-between">
                <div>
                    Версия: {{ object.version }}
                </div>

                <div>
                    Материалы: {{ object.materials }}
                </div>

                <div>
                    Цвет: {{ object.color }}
                </div>
            </li>

            <li class="list-group-item d-flex justify-content-between">
                <div>
                    Страна: {{ object.country }}
                </div>

                <div>
                    Внутренняя упаковка: {{ object.packing_inside }}
                </div>

                <div>
                    Внешняя упаковка: {{ object.packing_outside }}
                </div>
            </li>
            {% if object.description %}
            <li class="list-group-item">{{ object.description }}</li>
            {% endif %}
            {% if object.description_en %}
            <li class="list-group-item">{{ object.description_en }}</li>
            {% endif %}
        </ul>
        <div class="card-body">
            <a href="{% url 'product_edit' object.id %}" class="btn btn-outline-primary">Редактировать</a>
        </div>
    </div>
</div>

{% if stores_with_product %}
<div class="border rounded mt-2">
    <h3 class="ps-2 pt-2">Продукции на складах</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Склад</th>
            <th scope="col">Свободно на складе</th>
            <th scope="col">Забронировано на складе</th>
            <th scope="col">Добавить в корзину</th>
        </tr>
        </thead>
        <tbody>
        {% for store_with_product in stores_with_product %}
        <tr>
            <td>
                <a href="{% url 'store_detail' store_with_product.store.id %}" class="text-reset">
                    {{ store_with_product.store }}
                </a>
            </td>
            <td>{{ store_with_product.quantity }}</td>
            <td>{{ store_with_product.booked }}</td>
            <td>
                <form action="{% url 'add_product_to_cart' object.pk store_with_product.store.pk 0 %}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-outline-success" type="submit" name="add" value="+"/>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% if products_in_cart %}
<div class="border rounded mt-2">
    <h3 class="ps-2 pt-2">В корзине</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Склад</th>
            <th scope="col">Количество</th>
            <th scope="col">Убрать</th>
        </tr>
        </thead>
        <tbody>
        {% for product_in_cart in products_in_cart %}
        <tr>
            <td>
                <a href="{% url 'store_detail' product_in_cart.store.id %}" class="text-reset">
                    {{ product_in_cart.store }}
                </a>
            </td>
            <td>{{ product_in_cart.quantity }}</td>
            <td>
                <form action="{% url 'dismiss_product_from_cart' object.pk product_in_cart.store.pk 0 %}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-outline-danger" type="submit" name="dismiss" value="-"/>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

<script>
const swiper = new Swiper('.swiper', {
  // Optional parameters
  loop: true,

  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
});
</script>


{% endblock %}