{% extends 'base.html' %}

{% block title %}Добавить договор{% endblock %}

{% block content %}
<h1>Новый договор</h1>
<a href="{% url 'contracts_list' %}" class="btn btn-primary mb-3">Назад</a>
<p>
    {{ answer }}
</p>
<p>
    {{ errors }}
</p>
<form name="contract-create-form" method="post" action="{% url 'contract_create' %}" class="card p-2 col-6 row">
    {% csrf_token %}
     <label>
        {{ form.number.label }}
    </label>
    {{ form.number }}
    <label>
        {{ form.type.label }}
    </label>
    {{ form.type }}
    <label>
        {{ form.contractor.label }}
    </label>
    {{ form.contractor }}
    <label>
        {{ form.organization.label }}
    </label>
    {{ form.organization }}
    <label>
        {{ form.delivery_address.label }}
    </label>
    {{ form.delivery_address }}
    <label>
        {{ form.currency.label }}
    </label>
    {{ form.currency }}
    <input type="submit" value="Добавить" class="btn btn-primary mt-2">
</form>
{% endblock %}