{% extends 'base.html' %}

{% block title %}Валюта{% endblock %}

{% block content %}
<h1>Валюта</h1>
<a href="{% url 'currencies_list' %}" class="btn btn-primary mb-3">К списку валют</a>

<div class="mb-5 col-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ object.title }}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Код: {{ object.code }}
            </li>

            <li class="list-group-item">
                Символьный код: {{ object.char_code }}
            </li>

            <li class="list-group-item">
                Номинал: {{ object.nominal }}
            </li>

            <li class="list-group-item">
                Цена: {{ object.cost }}
            </li>
        </ul>
    </div>
</div>
{% endblock %}