{% extends 'base.html' %}

{% block title %}Валюты{% endblock %}

{% block content %}

<ul class="nav nav-pills pt-2 pb-2">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'contracts_list' %}">Договоры</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'contract_types_list' %}">Типы договоров</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'currencies_list' %}">Валюты</a>
  </li>
</ul>
<a href="{% url 'currencies_update' %}" class="btn btn-primary">Синхронизировать валюты</a>
<h1>Валюты</h1>

{% if currencies %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Название</th>
        <th scope="col">Код</th>
        <th scope="col">Символьный код</th>
        <th scope="col">Номинал</th>
        <th scope="col">Цена</th>
    </tr>
    </thead>
    <tbody>
    {% for currency in currencies %}
    <tr>
        <td>
            <a href="{% url 'currency_detail' currency.id %}">{{ currency.title }}</a>
        </td>
        <td>{{ currency.code }}</td>
        <td>{{ currency.char_code }}</td>
        <td>{{ currency.nominal }}</td>
        <td>{{ currency.cost }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}