{% extends 'base.html' %}

{% block title %}Детали договора{% endblock %}

{% block content %}
<h1>Условие поставки</h1>
<a href="{% url 'delivery_conditions_list' %}" class="btn btn-primary mb-3">Назад</a>

<div class="mb-5 col-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ object.title }}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Срок поставки, дней: {{ object.delivery_time }}</li>
            <li class="list-group-item">Описание: {{ object.description }}</li>
        </ul>
        <div class="card-body">
        </div>
    </div>
</div>
{% endblock %}