{% extends 'base.html' %}
{% load static %}
{% block title %}Добавить нового сотрудника{% endblock %}

{% block content %}
<form name="worker-create-form" method="post" action="{% url 'worker_create' %}" class="card col-8 p-2">
    {% csrf_token %}
    <div class="card-body">
        <h3>Новый сотрудник</h3>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                    role="tab" aria-controls="home" aria-selected="true">Основная информация
            </button>
        </li>

        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                    role="tab" aria-controls="profile" aria-selected="false">Паспортные данные
            </button>
        </li>

        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
                    role="tab" aria-controls="contact" aria-selected="false">Контактные данные
            </button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between">
                    {{ form.user.errors }}
                    <label>
                        {{ form.user.label }}
                    </label>
                    {{ form.user }}
                </li>

                <li class="list-group-item d-flex justify-content-between">
                    {{ form.position.errors }}
                    <label class="fw-bold">
                        {{ form.position.label }}
                    </label>
                    {{ form.position }}
                </li>

                <li class="list-group-item d-flex justify-content-between">
                    {{ form.name.errors }}
                    <label class="fw-bold">
                        {{ form.name.label }}
                    </label>
                    {{ form.name }}
                </li>

                <li class="list-group-item d-flex justify-content-between">
                    {{ form.second_name.errors }}
                    <label class="fw-bold">
                        {{ form.second_name.label }}
                    </label>
                    {{ form.second_name }}
                </li>

                <li class="list-group-item d-flex justify-content-between">
                    {{ form.last_name.errors }}
                    <label class="fw-bold">
                        {{ form.last_name.label }}
                    </label>
                    {{ form.last_name }}
                </li>

                <li class="list-group-item d-flex justify-content-between">
                    {{ form.organization.errors }}
                    <label>
                        {{ form.organization.label }}
                    </label>
                    {{ form.organization }}
                </li>
            </ul>
        </div>

        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between">
                    {{ form.serial_number.errors }}
                    <label>
                        {{ form.serial_number.label }}
                    </label>
                    {{ form.serial_number }}
                </li>

                <li class="list-group-item d-flex justify-content-between">
                    {{ form.number.errors }}
                    <label>
                        {{ form.number.label }}
                    </label>
                    {{ form.number }}
                </li>

                <li class="list-group-item d-flex justify-content-between">
                    {{ form.issued_by.errors }}
                    <label>
                        {{ form.issued_by.label }}
                    </label>
                    {{ form.issued_by }}
                </li>

                <li class="list-group-item d-flex justify-content-between">
                    {{ form.date.errors }}
                    <label>
                        {{ form.date.label }}
                    </label>
                    <div class="d-flex">
                    {% for field in form.date %}
                        {{ field }}
                    {% endfor %}
                    </div>
                </li>

                <li class="list-group-item d-flex justify-content-between">
                    {{ form.date_of_birth.errors }}
                    <label>
                        {{ form.date_of_birth.label }}
                    </label>
                    <div class="d-flex">
                    {% for field in form.date_of_birth %}
                        {{ field }}
                    {% endfor %}
                    </div>
                </li>

                <li class="list-group-item d-flex justify-content-between">
                    {{ form.department_code.errors }}
                    <label>
                        {{ form.department_code.label }}
                    </label>
                    {{ form.department_code }}
                </li>
            </ul>
        </div>

        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="profile-tab">
            <table class="table" id="contact-form-wrapper">
                {{ formset.management_form }}
                <thead>
                <tr>
                    <th scope="col">Тип контакта</th>
                    <th scope="col">Контактные данные</th>
                </tr>
                </thead>
                <tbody>
                {% for contact_form in formset %}
                <tr class="contact-form-container">
                    <td>{{ contact_form.type_of_contact }}</td>
                    <td>{{ contact_form.contact }}</td>
                </tr>
                {% endfor %}

                </tbody>
                <tfoot>
                <tr>
                    <td>
                        <a href="#" id="add_contact" class="btn btn-success col-1 mt-2 fw-bold">
                            +
                        </a>
                    </td>

                    <td>

                    </td>

                    <td>

                    </td>
                </tr>
                </tfoot>
            </table>
        </div>

        <div class="card-body border-top">
            <input type="submit" value="Сохранить сотрудника" class="btn btn-primary mt-2">
        </div>
    </div>
</form>

{% block extrascripts %}
<script type="text/JavaScript" src="{%  static 'app_organizations/js/contact.js' %}"></script>
{% endblock %}

{% endblock %}