{% extends 'base.html' %}

{% block title %}Заказ без договора{% endblock %}

{% block content %}
<h1>Заказ без договора</h1>
<div class="dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
       data-bs-toggle="dropdown" aria-expanded="false">
        Навигация по контрагенту
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li>
            <a href="{% url 'contractor_detail' object.contractor.id %}"
               class="dropdown-item">Контрагент</a>
        </li>

        <li>
            <a href="{% url 'contractor_orders_list' object.contractor.id %}"
               class="dropdown-item">Заказы</a>
        </li>

        <li>
            <a href=""
               class="dropdown-item">Заказы без договора</a>
        </li>
    </ul>
</div>
{% load static %}
<div class="mb-1 col-12">
    <div class="card">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">
                <a href="" class="btn btn-primary">
                    Редактирование
                </a>
            </li>

            <li class="list-group-item">
                {% if object.to_delete %}
                <form method="post" action="{% url 'order_without_contract_to_delete' object.id %}">
                    {% csrf_token %}
                    <input type="submit" name="unmark-to-delete" value="Снять пометку на удаление"
                           class="btn btn-outline-danger">
                </form>
                {% else %}
                <form method="post" action="{% url 'order_without_contract_to_delete' object.id %}">
                    {% csrf_token %}
                    <input type="submit" name="mark-to-delete" value="Пометить на удаление"
                           class="btn btn-outline-danger">
                </form>
                {% endif %}
            </li>
        </ul>

        <div class="card-body d-flex justify-content-between">
            <h5 class="card-title">Заказ №{{ object.number }}</h5>
            {% if object.to_delete %}
            <p class="text-danger fw-bold">Помечен на удаление</p>
            {% endif %}
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between">
                <div>
                    Контрагент:
                    <a href="{% url 'contractor_detail' object.contractor.id %}" class="text-reset">
                        {{ object.contractor }}
                    </a>
                </div>

                <div>
                    Организация:
                    <a href="{% url 'organization_detail' object.organization.id %}" class="text-reset">
                        {{ object.organization }}
                    </a>
                </div>
            </li>

            <li class="list-group-item d-flex justify-content-between">
                <div>
                    Условия поставки: {{ object.delivery_conditions }}
                </div>

                <div>
                    Время поставки, дней: {{ object.delivery_time }}
                </div>

                <div>
                    Место поставки: {{ object.delivery_address }}
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div>
                    Условия оплаты:
                    <a tabindex="0" class="text-reset payment-condition-popover"
                       role="button" data-bs-toggle="popover" title="{{ object.payment_conditions.title }}"
                       data-bs-content="{{ object.payment_conditions.description }}">
                        {{ object.payment_conditions }}
                    </a>

                    <script>
                    var popover = new bootstrap.Popover(document.querySelector('.payment-condition-popover'), {
                      trigger: 'focus'
                    })
                    </script>
                </div>


                <div>
                    Валюта:
                    <a tabindex="0" class="text-reset currency-popover"
                       role="button" data-bs-toggle="popover" title="{{ object.currency.title }}"
                       data-bs-content="{{ object.currency.nominal }} {{ object.currency.char_code }} = {{ object.currency.cost }} RUB">
                        {{ object.currency }}
                    </a>

                    <script>
                    var popover = new bootstrap.Popover(document.querySelector('.currency-popover'), {
                      trigger: 'focus'
                    })
                    </script>
                </div>

                <div>
                    Дата создания: {{ object.created }}
                </div>
            </li>
            <li class="list-group-item">Ответственный: {{ object.responsible }}</li>
        </ul>

        <ul class="list-group list-group-horizontal">

            <li class="list-group-item">
                {% if contractor_requisites %}
                <a href="{% url 'download_invoice_wc' object.id %}" class="btn btn-success d-block">Скачать счет</a>
                {% else %}
                <a tabindex="0" class="btn btn-danger invoice-popover"
                   role="button" data-bs-toggle="popover" title="Отказ"
                   data-bs-content="Чтобы сформировать инвойс, необходимо заполнить реквизиты в карточке контрагента">
                    Скачать счет
                </a>
                <script>
                    var popover = new bootstrap.Popover(document.querySelector('.invoice-popover'), {
                      trigger: 'focus'
                    })
                </script>
                {% endif %}
            </li>
            <li class="list-group-item">
                {% if contractor_requisites %}
                <a href="{% url 'download_upd_wc' object.id %}"
                   download data-bs-toggle="popover" title="Dismissible popover"
                   data-bs-content="And here's some amazing content. It's very engaging. Right?"
                   class="btn btn-success col-offset-2">Скачать УПД</a>
                {% else %}
                <a tabindex="0" class="btn btn-danger upd-popover"
                   role="button" data-bs-toggle="popover" title="Отказ"
                   data-bs-content="Чтобы сформировать УПД, необходимо заполнить реквизиты в карточке контрагента">
                    Скачать УПД
                </a>
                <script>
                    var popover = new bootstrap.Popover(document.querySelector('.upd-popover'), {
                      trigger: 'focus'
                    })
                </script>
                {% endif %}
            </li>
        </ul>
    </div>
</div>

{% if order_booking %}
<h2>Выпускаемая продукция</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Продукция</th>
        <th scope="col">Склад</th>
        <th scope="col">Количество</th>
        <th scope="col">Стандартная цена</th>
        <th scope="col">Итоговая цена</th>
        <th scope="col">Расчетная сумма</th>
        <th scope="col">Итоговая сумма</th>
        <th scope="col">Редактировать</th>
        <th scope="col">Удалить</th>
    </tr>
    </thead>
    <tbody>
    {% for document in order_booking %}
    <tr>
        <td>
            <a href="{% url 'product_detail' document.product.id %}" class="text-reset">{{ document.product }}</a>
        </td>
        <td>{{ document.store }}</td>
        <td>{{ document.quantity }}</td>
        <td>{{ document.product.cost }}</td>
        <td>{{ document.total_price }}</td>
        <td>{{ document.counted_sum }}</td>
        <td>{{ document.total_sum }}</td>
        <td>
            <a href="{% url 'order_without_contract_booking_edit' document.id %}">
                <img src="{% static 'app_documents/images/edit.png' %}" alt="edit icon">
            </a>
        </td>
        <td>
            <form method="post" action="{% url 'order_without_contract_booking_delete' document.id %}">
                {% csrf_token %}
                <input type="submit" name="delete" value="Удалить"
                       class="btn btn-outline-danger">
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td>Итого:</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ object.counted_sum }}</td>
            <td>{{ object.total_sum }}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Итого в {{ object.currency.char_code }}:</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ currency_counted_sum }}</td>
            <td>{{ currency_total_sum }}</td>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
</table>
{% endif %}

{% endblock %}