{% extends 'base.html' %}

{% block title %}Организации{% endblock %}

{% block content %}
<h1>Организации</h1>
<a href="{% url 'organization_create' %}" class="btn btn-primary mb-3">Добавить организацию</a>

{% if organizations %}
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Название</th>
        <th scope="col">Юр. адрес</th>
        <th scope="col">ИНН</th>
    </tr>
    </thead>
    <tbody>
    {% for organization in organizations %}
    <tr>
        <td>
            <a class="text-reset" href="{% url 'organization_detail' organization.id %}">{{ organization.title }}</a>
        </td>

        <td>
            {{ organization.legal_address }}
        </td>

        <td>
            {{ organization.tin }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}