asgiref==3.4.1
beautifulsoup4==4.9.3
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
cryptography==3.4.7
DAWG-Python==0.7.2
Django==3.2.6
docopt==0.6.2
docxtpl==0.11.5
http-ece==1.1.0
idna
Jinja2==3.0.1
lxml==4.6.3
MarkupSafe==2.0.1
num2words==0.5.10
psycopg2==2.9.1
py-vapid==1.8.2
pycparser==2.20
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
python-docx==0.8.11
pytz==2021.1
requests==2.26.0
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.1
urllib3==1.26.6
