{% extends 'base.html' %}

{% block title %}Все банки{% endblock %}

{% block content %}
<h1>Банки</h1>
<a href="{% url 'bank_create' %}" class="btn btn-primary mb-3">Добавить банк</a>

{% if banks %}
    <div class="row">
    {% for bank in banks %}
        <div class="mb-5 col-3">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{ bank.title }}</h5>
              </div>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item">Код: {{ bank.short_code }}</li>
                  <li class="list-group-item">Получатель: {{ bank.recipient }}</li>
              </ul>
              <div class="card-body">
                <a href="{% url 'bank_detail' bank.id %}" class="btn btn-primary">Открыть</a>
              </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}