{% extends 'base.html' %}

{% block title %}Все клиенты{% endblock %}

{% block content %}
<h1>Информация о организации</h1>
<a href="{% url 'organization_files_list' object.id %}" class="btn btn-primary mb-3">Прикрепленные файлы</a>

<div class="mb-5 col-8">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ object.title }}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Адрес: {{ object.legal_address }}</li>
            <li class="list-group-item">ИНН(TIN): {{ object.tin }}</li>
            <li class="list-group-item">ОГРИП(PPRNIE): {{ object.pprnie }}</li>
            <li class="list-group-item">Уведомление о постановке на учет: {{ object.registration }}</li>
        </ul>
        <div class="card-body">
            <a href="{% url 'organization_detail' organization.id %}" class="btn btn-primary">Редактировать</a>
        </div>
    </div>
</div>

{% endblock %}