{% extends 'base.html' %}

{% block title %}Прикрепленные файлы{% endblock %}

{% block content %}
<h1>Прикрепленные файлы {{ organization }}</h1>
<a href="{% url 'organization_detail' organization.id %}" class="btn btn-primary mb-3">В карточку организации</a>


{% if files %}
<table class="table table-striped">
    <thead>
        <tr>
            <td>Название файла</td>
            <td>Описание</td>
            <td>Открыть</td>
            <td>Дата загрузки</td>
        </tr>
    </thead>
    <tbody>
    {% for file in files %}
        <tr>
            <td>{{ file.title }}</td>
            <td>{{ file.description }}</td>
            <td>
                <a href="{% url 'organization_file_download' organization.id file.id %}" target="_blank">Значок</a>
            </td>
            <td>{{ file.created_at }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

<a href="{% url 'organization_file_create' organization.id %}" class="btn btn-primary mb-3">Прикрепить файл</a>
{% endblock %}