{% extends 'base.html' %}

{% block title %}Добавить новую организацию{% endblock %}

{% block content %}
<form name="organization-create-form" method="post" action="{% url 'organization_create' %}" class="mt-2 card col-10 row">
    {% csrf_token %}
    <div class="card-body">
        <h3>Новая организация</h3>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                    role="tab" aria-controls="home" aria-selected="true">Основная информация
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                    role="tab" aria-controls="profile" aria-selected="false">Контактные данные и реквизиты
            </button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between">
                    <label class="fw-bold">
                        {{ form.title.label }}
                    </label>
                    {{ form.title }}

                    <label>
                        {{ form.title_en.label }}
                    </label>
                    {{ form.title_en }}
                </li>

                <h4 class="p-2">Подписант</h4>
                <li class="list-group-item d-flex justify-content-between">
                    <label>
                        {{ form.position.label }}
                    </label>
                    {{ form.position }}

                    <label>
                        {{ form.position_en.label }}
                    </label>
                    {{ form.position_en }}
                </li>

                <li class="list-group-item d-flex justify-content-between">
                    <label>
                        {{ form.appeal.label }}
                    </label>
                    {{ form.appeal }}

                    <label>
                        {{ form.appeal_en.label }}
                    </label>
                    {{ form.appeal_en }}
                </li>

                <li class="list-group-item d-flex justify-content-between">
                    <label>
                        {{ form.name.label }}
                    </label>
                    {{ form.name }}

                    <label>
                        {{ form.name_en.label }}
                    </label>
                    {{ form.name_en }}
                </li>

                <li class="list-group-item d-flex justify-content-between">
                    <label>
                        {{ form.second_name.label }}
                    </label>
                    {{ form.second_name }}

                    <label>
                        {{ form.second_name_en.label }}
                    </label>
                    {{ form.second_name_en }}
                </li>

                <li class="list-group-item d-flex justify-content-between">
                    <label>
                        {{ form.last_name.label }}
                    </label>
                    {{ form.last_name }}

                    <label>
                        {{ form.last_name_en.label }}
                    </label>
                    {{ form.last_name_en }}
                </li>

                <li class="list-group-item d-flex justify-content-between">
                    <label>
                        {{ form.registration.label }}
                    </label>
                    {{ form.registration }}
                </li>

                <li class="list-group-item d-flex justify-content-between">
                    <label>
                        {{ form.registration_en.label }}
                    </label>
                    {{ form.registration_en }}
                </li>
            </ul>
        </div>

        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between">
                    <label class="fw-bold">
                        {{ form.legal_address.label }}
                    </label>
                    {{ form.legal_address }}

                    <label>
                        {{ form.legal_address_en.label }}
                    </label>
                    {{ form.legal_address_en }}
                </li>

                <li class="list-group-item d-flex justify-content-between">
                    <label>
                        {{ form.actual_address.label }}
                    </label>
                    {{ form.actual_address }}
                </li>

                <li class="list-group-item d-flex justify-content-between">
                    <label class="fw-bold">
                        {{ form.tin.label }}
                    </label>
                    {{ form.tin }}

                    <label class="fw-bold">
                        {{ form.pprnie.label }}
                    </label>
                    {{ form.pprnie }}
                </li>

                <label class="text-center fw-bold">
                    {{ form.requisites.label }}
                </label>
                {{ form.requisites }}

                <label class="text-center">
                    {{ form.requisites_en.label }}
                </label>
                {{ form.requisites_en }}
            </ul>
        </div>
        <div class="card-body border-top">
            <input type="submit" value="Сохранить организацию" class="btn btn-primary mt-2">
        </div>
    </div>
</form>
{% endblock %}