{% extends 'base.html' %}

{% block title %}Все клиенты{% endblock %}

{% block content %}
<h1>Информация о организации</h1>
<a href="{% url 'organization_files_list' object.id %}" class="btn btn-primary mb-3">Прикрепленные файлы</a>

<div class="mb-5 col-8">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ object.title }}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Адрес: {{ object.address }}</li>
            <li class="list-group-item">ИНН(TIN): {{ object.tin }}</li>
            <li class="list-group-item">ОГРИП(PPRNIE): {{ object.pprnie }}</li>
            <li class="list-group-item">Уведомление о постановке на учет: {{ object.registration }}</li>
        </ul>
        <div class="card-body">
            <a href="{% url 'organization_detail' organization.id %}" class="btn btn-primary">Редактировать</a>
        </div>
    </div>
</div>

<h2>Банки</h2>
{% for bank in object.banks.all %}
    <div class="card col-8">
        <div class="card-body">
            <h5 class="card-title">{{ bank.title }}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Адрес: {{ bank.address }}</li>
            <li class="list-group-item">Кодовое обозначение(SWIFT): {{ bank.short_code }}</li>
            <li class="list-group-item">Расчетный счет: {{ bank.payment_account }}</li>
            <li class="list-group-item">Корреспондентный счет: {{ bank.correspondent_account }}</li>
            <li class="list-group-item">Получатель: {{ bank.recipient }}</li>
        </ul>
    </div>
{% endfor %}

{% endblock %}