{% extends 'base.html' %}

{% block title %}Все сотрудники{% endblock %}

{% block content %}
<h1>Сотрудники</h1>
<a href="{% url 'worker_create' %}" class="btn btn-primary mb-3">Добавить сотрудника</a>

{% if workers %}
 <table class="table" id="contact-form-wrapper">
    <thead>
        <tr>
            <th scope="col">Имя</th>
            <th scope="col">Должность</th>
            <th scope="col">Организация</th>
        </tr>
    </thead>
    <tbody>
        {% for worker in workers %}
        <tr class="contact-form-container">
            <td>
                <a class="text-reset" href="{% url 'worker_detail' worker.id %}">
                    {{ worker.name }} {{ worker.second_name }} {{ worker.last_name }}
                </a>
            </td>
            <td>{{ worker.position }}</td>
            <td>
                {% if worker.organization %}
                <a class="text-reset" href="{% url 'organization_detail' worker.organization.id %}">
                    {{ worker.organization.title }}
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}