{% extends 'base.html' %}
{% load static %}
{% block title %}Добавить новую продукцию{% endblock %}

{% block content %}

<a href="{% url 'order_detail' order_id %}" class="btn btn-primary mt-2 col-3">В карточку
    заказа</a>
<p>
    {{ answer }}
</p>
<p>
    {{ errors }}
</p>
<h1>Выпуск продукции по спецификации</h1>
<form name="order-booking-form" method="post" class="d-flex justify-content-start row">
    {% csrf_token %}
    <div class="col-5">
        <input type="submit" value="Сохранить" class="btn btn-primary col-3 mb-3">
    </div>
    <table class="table" id="booking-form-wrapper">
        {{ formset.management_form }}
        <thead>
        <tr>
            <th scope="col">Заказ</th>
            <th scope="col">Продукция</th>
            <th scope="col">Склад</th>
            <th scope="col">Количество</th>
        </tr>
        </thead>
        <tbody>
        {% for form in formset %}
        <tr class="booking-form-container">
            <td>{{ form.order }}</td>
            <td>{{ form.product }}</td>
            <td>{{ form.store }}</td>
            <td>{{ form.quantity }}</td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td>
                <a href="#" id="add_booking" class="btn btn-success col-1 mt-2 fw-bold">
                    +
                </a>
            </td>

            <td>

            </td>

            <td>

            </td>
        </tr>
        </tfoot>
    </table>
</form>

{% block extrascripts %}
<script type="text/JavaScript" src="{%  static 'app_documents/js/booking.js' %}"></script>
{% endblock %}

{% endblock %}
