{% extends 'base.html' %}

{% block title %}Спецификация{% endblock %}

{% block content %}
<h1>Заказ</h1>
<a href="{% url 'contractor_orders_list' object.contract.contractor.id %}" class="btn btn-primary mb-3">К списку
    заказов контрагента</a>
{% load static %}
<div class="mb-5 col-9">
    <div class="card">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">
                <a href="" class="btn btn-primary">
                    Редактирование
                </a>
            </li>

            <li class="list-group-item">
                {% if object.to_delete %}
                <a href="{% url 'order_to_delete' object.id %}" class="btn btn-danger">
                    Снять пометку на удаление
                </a>
                {% else %}
                <a href="{% url 'order_to_delete' object.id %}" class="btn btn-danger">
                    Пометить на удаление
                </a>
                {% endif %}
            </li>
        </ul>

        <div class="card-body d-flex justify-content-between">
            <h5 class="card-title">Заказ №{{ object.number }}</h5>
            {% if object.to_delete %}
            <p class="text-danger fw-bold">Помечена на удаление</p>
            {% endif %}
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">Договор: {{ object.contract }}</li>
            <li class="list-group-item">Условия поставки: {{ object.delivery_conditions }}</li>
            <li class="list-group-item">Место загрузки: {{ object.loading_place }}</li>
            <li class="list-group-item">Условия оплаты: {{ object.payment_conditions }}</li>
            <li class="list-group-item">Дата создания: {{ object.created }}</li>
        </ul>

        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">
                <a href="{% url 'order_booking' object.id %}" class="btn btn-primary">
                    Выпустить продукцию
                </a>
            </li>

              <li class="list-group-item">
                <form name="specification-create-form" method="post" action="" class="">
                    {% csrf_token %}
                    <input type="submit" value="Перезаполнить документы" class="btn btn-primary">
                </form>
            </li>

            {% if file %}
            <li class="list-group-item">
                <a href="{% url 'download_specification' %}" download
                   class="btn btn-success col-offset-2">Скачать спецификацию</a>
            </li>

            <li class="list-group-item">
                <a href="{% url 'download_invoice' %}" class="btn btn-success d-block">Скачать инвойс</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>

{% if order_booking %}
<h2>Выпускаемая продукция</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Продукция</th>
        <th scope="col">Склад</th>
        <th scope="col">Количество</th>
        <th scope="col">Стоимость 1 ед.</th>
        <th scope="col">Сумма</th>
        <th scope="col">Редактировать</th>
        <th scope="col">Удалить</th>
    </tr>
    </thead>
    <tbody>
    {% for document in order_booking %}
    <tr>
        <td>
            <a href="{% url 'product_detail' document.product.id %}">{{ document.product }}</a>
        </td>
        <td>{{ document.store }}</td>
        <td>{{ document.quantity }}</td>
        <td>{{ document.product.cost }}</td>
        <td>{{ document.sum }}</td>
        <td>
            <a href="{% url 'order_booking_edit' document.id %}">
                <img src="{% static 'app_documents/images/edit.png' %}" alt="edit icon">
            </a>
        </td>
        <td>
            <a href="{% url 'order_booking_delete' document.id %}">
                <img src="{% static 'app_documents/images/delete.png' %}" alt="delete icon">
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

{% if invoices %}
<h2>Инвойсы</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Инвойс №</th>
        <th scope="col">Клиент</th>
        <th scope="col">Дата создания</th>
    </tr>
    </thead>
    <tbody>
    {% for invoice in invoices %}
    <tr>
        <td>
            <a href="{% url 'invoice_detail' invoice.id %}">{{ invoice.number }}</a>
        </td>
        <td>{{ invoice.specification.contract.contractor }}</td>
        <td>{{ invoice.created }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
<h3>Итоговая сумма заказа: {{ object.total_sum }}</h3>
{% endblock %}