<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    {% include 'includes.html' %}
    <title>{% block title %}Главная страница{% endblock %}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
        <div class="container-fluid container">
            <a class="navbar-brand" href="{% url 'main' %}">Hookah retrofit</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            CRM
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'contractors_list' %}">Контрагенты</a></li>
                            <li><a class="dropdown-item" href="{% url 'leads_list' %}">Лиды</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Внутренняя структура
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'organizations_list' %}">Организации</a></li>
                            <li><a class="dropdown-item" href="{% url 'workers_list' %}">Сотрудники</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Продажи
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'contracts_list' %}">Договоры</a></li>
                            <li><a class="dropdown-item" href="{% url 'orders_list' %}">Заказы</a></li>
                            <li>
                                <a class="dropdown-item" href="{% url 'orders_without_contract_list' %}">
                                Заказы без договора
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Складской учет
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'products_list' %}">Продукция</a></li>
                            <li><a class="dropdown-item" href="{% url 'stores_list' %}">Склады</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">Админка</a>
                    </li>
                </ul>
            </div>

            {% if request.user.is_authenticated %}
                {% if request.user.cart %}
                    <a href="{% url 'cart' %}" class="btn btn-outline-light me-2">Корзина</a>
                {% endif %}
            <a href="{% url 'account' %}" class="btn btn-outline-secondary me-2">Профиль</a>
            <a href="{% url 'logout' %}" class="btn btn-outline-warning">Выйти</a>
            {% endif %}
        </div>
    </nav>
</header>

<main class="bg-light">
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
</main>
{% block extrascripts %}{% endblock %}
</body>
</html>