{% extends 'base.html' %}

{% block title %}Типы договоров{% endblock %}

{% block content %}

<ul class="nav nav-pills pt-2 pb-2">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'contracts_list' %}">Договоры</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'contract_types_list' %}">Типы договоров</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'currencies_list' %}">Валюты</a>
  </li>
</ul>

<h1>Типы договоров</h1>

{% if contract_types %}
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Название</th>
    </tr>
    </thead>
    <tbody>
    {% for contract_type in contract_types %}
    <tr class="{% if contract.to_delete %} text-white bg-secondary {% endif %}">
        <td>
            {{ contract_type.title }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}