{% extends 'base.html' %}

{% block title %}Добавить новую продукцию{% endblock %}
{% load static %}
{% block content %}

<a href="{% url 'products_list' %}" class="btn btn-primary mt-2">К списку продукции</a>
<a href="#" id="add_product" class="btn btn-success mt-2">+</a>

<form name="product-create-form" method="post" class="d-flex justify-content-evenly col-12 row">
    {% csrf_token %}
    {{ formset.management_form }}
    <div id="product-form-wrapper">
        {% for form in formset %}
        <table class="table border-secondary border-top border-start border-end mb-5 mt-3 product-form-container">
            <tbody>
            <tr>
                <td>
                    <h4>Новая продукция</h4>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    <label>{{ form.number.label }}</label>
                    {{ form.number.errors }}
                    {{ form.number }}
                </td>
                <td>
                    <label>{{ form.type_of_product.label }}</label>
                    {{ form.type_of_product.errors }}
                    {{ form.type_of_product }}
                </td>
                <td>
                   <label>{{ form.model.label }}</label>
                    {{ form.model.errors }}
                    {{ form.model }}
                </td>
                <td>
                   <label>{{ form.size.label }}</label>
                    {{ form.size.errors }}
                    {{ form.size }}
                </td>
            </tr>
            <tr>
                <td>
                    <label>{{ form.version.label }}</label>
                    {{ form.version.errors }}
                    {{ form.version }}
                </td>
                <td>
                    <label>{{ form.materials.label }}</label>
                    {{ form.materials.errors }}
                    {{ form.materials }}
                </td>
                <td>
                   <label>{{ form.color.label }}</label>
                    {{ form.color.errors }}
                    {{ form.color }}
                </td>
                <td>
                   <label>{{ form.packing_inside.label }}</label>
                    {{ form.packing_inside.errors }}
                    {{ form.packing_inside }}
                </td>
            </tr>
            <tr>
                <td>
                    <label>{{ form.packing_outside.label }}</label>
                    {{ form.packing_outside.errors }}
                    {{ form.packing_outside }}
                </td>
                <td>
                    <label>{{ form.country.label }}</label>
                    {{ form.country.errors }}
                    {{ form.country }}
                </td>
                <td>
                   <label>{{ form.cost.label }}</label>
                    {{ form.cost.errors }}
                    {{ form.cost }}
                </td>
                <td>
                </td>
            </tr>
            </tbody>
        </table>
        {% endfor %}
    </div>
    <input type="submit" value="Сохранить" class="btn btn-primary col-8 mb-3">
</form>

{% block extrascripts %}
<script type="text/JavaScript" src="{%  static 'app_storage/js/product.js' %}"></script>
{% endblock %}

{% endblock %}