{% extends 'base.html' %}

{% block title %}Склады{% endblock %}

{% block content %}

<div class="dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
       data-bs-toggle="dropdown" aria-expanded="false">
        Движения по складам
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li>
            <a href="{% url 'store_income_list' 0 %}" class="dropdown-item">Приходы продукции</a>
        </li>

        <li>
            <a href="{% url 'store_outcome_list' 0 %}" class="dropdown-item">Выпуски продукции</a>
        </li>
    </ul>
</div>


<div class="dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
       data-bs-toggle="dropdown" aria-expanded="false">
        Действия со складами
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li>
            <a href="{% url 'store_income_create' 0 %}" class="dropdown-item">Оформить приход продукции</a>
        </li>

        <li>
            <a href="{% url 'store_outcome_create' 0 %}" class="dropdown-item">Оформить выпуск продукции</a>
        </li>
    </ul>
</div>

<h1>Склады</h1>
{% if stores_list %}
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Название</th>
        <th scope="col">Адрес</th>
    </tr>
    </thead>
    <tbody>
    {% for store in stores_list %}
    <tr>
        <td>
            <a class="text-reset" href="{% url 'store_detail' store.id %}">{{ store.title }}</a>
        </td>

        <td>
            {{ store.address }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}