{% extends 'base.html' %}

{% block title %}Редивктирование контактного лица{% endblock %}
{% load static %}
{% block content %}
<h1>Редивктирование контактного лица</h1>
<form name="contact-person-edit-form" method="post" action="" class="row">
    {% csrf_token %}
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between">
            {{ form.name.errors }}
            <label>{{ form.name.label }}</label>
            {{ form.name }}
        </li>

        <li class="list-group-item d-flex justify-content-between">
            {{ form.second_name.errors }}
            <label>{{ form.second_name.label }}</label>
            {{ form.second_name }}
        </li>

        <li class="list-group-item d-flex justify-content-between">
            {{ form.last_name.errors }}
            <label>{{ form.last_name.label }}</label>
            {{ form.last_name }}
        </li>

        <li class="list-group-item d-flex justify-content-between">
            {{ form.position.errors }}
            <label>{{ form.position.label }}</label>
            {{ form.position }}
        </li>

        <li class="list-group-item d-flex justify-content-between">
            {{ form.contractor.errors }}
            <label>{{ form.contractor.label }}</label>
            {{ form.contractor }}
        </li>

        <li class="list-group-item d-flex justify-content-between">
            {{ form.tag.errors }}
            <label>{{ form.tag.label }}</label>
            {{ form.tag }}
        </li>
    </ul>

    <table class="table" id="contact-form-wrapper">
        {{ formset.management_form }}
        <thead>
        <tr>
            <th scope="col">Тип контакта</th>
            <th scope="col">Контактные данные</th>
        </tr>
        </thead>
        <tbody>
        {% for contact_form in formset %}
        <tr class="contact-form-container">
            <td>
                {{ contact_form.type_of_contact.errors }}
                {{ contact_form.type_of_contact }}
            </td>

            <td>
                {{ contact_form.errors }}
                {{ contact_form.contact }}
            </td>
        </tr>
        {% endfor %}

        </tbody>
        <tfoot>
        <tr>
            <td>
                <a href="#" id="add_contact" class="btn btn-success col-1 mt-2 fw-bold">
                    +
                </a>
            </td>

            <td>

            </td>

            <td>

            </td>
        </tr>
        </tfoot>
    </table>
    <div>
        <input type="submit" value="Сохранить контактное лицо" class="btn btn-primary mt-2">
    </div>

</form>

{% block extrascripts %}
<script type="text/JavaScript" src="{%  static 'app_crm/js/contact.js' %}"></script>
{% endblock %}

{% endblock %}