{% extends 'base.html' %}

{% block title %}Контактные лица{% endblock %}

{% block content %}
<div class="dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
       data-bs-toggle="dropdown" aria-expanded="false">
        Навигация по контрагенту
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li>
            <a href="{% url 'contractor_detail' contractor_id %}"
               class="dropdown-item">Контрагент</a>
        </li>

        <li>
            <a href="{% url 'contractor_contracts_list' contractor_id %}" class="dropdown-item">Договоры</a>
        </li>

        <li>
            <a href="{% url 'contractor_orders_list' contractor_id %}"
               class="dropdown-item">Заказы</a>
        </li>
    </ul>
</div>

<h1>Контактные лица</h1>
<a href="{% url 'contact_person_create' contractor_id %}" class="btn btn-primary">Добавить контактное лицо</a>
{% if contact_persons %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Имя</th>
        <th scope="col">Отчество</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Должность</th>
        <th scope="col">Редактировать</th>
        <th scope="col">Поставить/убрать пометку на удаление</th>
    </tr>
    </thead>
    <tbody>
    {% for contact_person in contact_persons %}
    <tr class="{% if contact_person.to_delete %}text-white bg-secondary{% endif %}">

        <td>
            <a class="{% if contact_person.to_delete %}text-white bg-secondary{% endif %}"
               href="{% url 'contact_person_detail' contractor_id contact_person.id %}">
                {{ contact_person.name }}
            </a>
        </td>

        <td>
            {{ contact_person.second_name }}
        </td>

        <td>
            {{ contact_person.last_name }}
        </td>

        <td>
            {{ contact_person.position }}
        </td>

        <td class="{% if contact_person.to_delete %}text-white bg-secondary{% endif %}">
            "Кнопка"
        </td>

        <td class="{% if contact_person.to_delete %}text-white bg-secondary{% endif %}">
            <a class="{% if contact_person.to_delete %}text-white bg-secondary{% endif %}"
               href="{% url 'contact_person_to_delete' contractor_id contact_person.id %}">
                Кнопка
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}