{% extends 'base.html' %}

{% block title %}Добавить нового контрагента{% endblock %}
{% load static %}
{% block content %}

<form name="client-create-form" method="post" action="{% url 'contractor_create' %}">
    {% csrf_token %}
    <div class="card col-6 mt-2">
        <div class="card-body">
            <h3>Новый контрагент</h3>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                        role="tab" aria-controls="home" aria-selected="true">Основная информация
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                        role="tab" aria-controls="profile" aria-selected="false">Контактные данные и реквизиты
                </button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between">
                        <label class="fw-bold">
                            {{ form.type_of_contractor.label }}
                        </label>
                        {{ form.type_of_contractor }}
                    </li>

                    <li class="list-group-item d-flex justify-content-between">
                        <label class="fw-bold">
                            {{ form.status.label }}
                        </label>
                        {{ form.status }}
                    </li>

                    <li class="list-group-item d-flex justify-content-between">
                        <label class="fw-bold">
                            {{ form.field_of_activity.label }}
                        </label>
                        {{ form.field_of_activity }}
                    </li>

                    <li class="list-group-item d-flex justify-content-between">
                        <label class="fw-bold">
                            {{ form.position.label }}
                        </label>
                        {{ form.position }}
                    </li>

                    <li class="list-group-item d-flex justify-content-between">
                        <label>
                            {{ form.position_en.label }}
                        </label>
                        {{ form.position_en }}
                    </li>

                    <li class="list-group-item d-flex justify-content-between">
                        <label class="fw-bold">
                            {{ form.appeal.label }}
                        </label>
                        {{ form.appeal }}
                    </li>

                    <li class="list-group-item d-flex justify-content-between">
                        <label>
                            {{ form.appeal_en.label }}
                        </label>
                        {{ form.appeal_en }}
                    </li>

                    <li class="list-group-item d-flex justify-content-between">
                        <label class="fw-bold">
                            {{ form.name.label }}
                        </label>
                        {{ form.name }}
                    </li>

                    <li class="list-group-item d-flex justify-content-between">
                        <label class="fw-bold">
                            {{ form.second_name.label }}
                        </label>
                        {{ form.second_name }}
                    </li>

                    <li class="list-group-item d-flex justify-content-between">
                        <label class="fw-bold">
                            {{ form.last_name.label }}
                        </label>
                        {{ form.last_name }}
                    </li>
                </ul>
            </div>

            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between">
                        <label class="fw-bold">
                            {{ form.tel.label }}
                        </label>
                        {{ form.tel }}
                    </li>

                    <li class="list-group-item d-flex justify-content-between">
                        <label class="fw-bold">
                            {{ form.country.label }}
                        </label>
                        {{ form.country }}
                    </li>

                    <li class="list-group-item d-flex justify-content-between">
                        <label class="fw-bold">
                            {{ form.legal_address.label }}
                        </label>
                        {{ form.legal_address }}
                    </li>

                    <li class="list-group-item d-flex justify-content-between">
                        <label class="fw-bold">
                            {{ form.actual_address.label }}
                        </label>
                        {{ form.actual_address }}
                    </li>

                    <label class="text-center fw-bold">
                        {{ form.requisites.label }}
                    </label>
                    {{ form.requisites }}
                </ul>
            </div>
            <div class="card-body border-top">
                <input type="submit" value="Сохранить контрагента" class="btn btn-primary mt-2">
            </div>
        </div>
        <p>
            {{ errors }}
        </p>
    </div>
</form>

{% endblock %}