{% extends 'base.html' %}

{% block title %}Реквизиты контрагента{% endblock %}
{% load static %}
{% block content %}

<form name="client-requisites-edit-form" method="post">
    {% csrf_token %}
    <div class="card col-6 mt-2">
        <div class="card-body">
            <h3>Реквизиты контрагента</h3>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between">
                {{ form.short_title.errors }}
                <label class="fw-bold">
                    {{ form.short_title.label }}
                </label>
                {{ form.short_title }}
            </li>

            <li class="list-group-item d-flex justify-content-between">
                {{ form.mailing_address.errors }}
                <label class="fw-bold">
                    {{ form.mailing_address.label }}
                </label>
                {{ form.mailing_address }}
            </li>

            <li class="list-group-item d-flex justify-content-between">
                {{ form.tin.errors }}
                <label class="fw-bold">
                    {{ form.tin.label }}
                </label>
                {{ form.tin }}
            </li>

            <li class="list-group-item d-flex justify-content-between">
                {{ form.kpp.errors }}
                <label class="fw-bold">
                    {{ form.kpp.label }}
                </label>
                {{ form.kpp }}
            </li>

            <li class="list-group-item d-flex justify-content-between">
                {{ form.pprnie.errors }}
                <label class="fw-bold">
                    {{ form.pprnie.label }}
                </label>
                {{ form.pprnie }}
            </li>

            <li class="list-group-item d-flex justify-content-between">
                {{ form.checking_account.errors }}
                <label class="fw-bold">
                    {{ form.checking_account.label }}
                </label>
                {{ form.checking_account }}
            </li>

            <li class="list-group-item d-flex justify-content-between">
                {{ form.correspondent_account.errors }}
                <label>
                    {{ form.correspondent_account.label }}
                </label>
                {{ form.correspondent_account }}
            </li>

            <li class="list-group-item d-flex justify-content-between">
                {{ form.bank_bik.errors }}
                <label class="fw-bold">
                    {{ form.bank_bik.label }}
                </label>
                {{ form.bank_bik }}
            </li>

            <li class="list-group-item d-flex justify-content-between">
                {{ form.bank_title.errors }}
                <label>
                    {{ form.bank_title.label }}
                </label>
                {{ form.bank_title }}
            </li>
        </ul>

        <div class="card-body border-top">
            <input type="submit" value="Сохранить реквизиты" class="btn btn-primary mt-2">
            <a class="btn btn-danger mt-2" href="{% url 'contractor_detail' contractor_id %}">Назад</a>
        </div>
    </div>
</form>

{% endblock %}