{% extends 'base.html' %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
<div class="dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
       data-bs-toggle="dropdown" aria-expanded="false">
        Навигация по контрагенту
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li>
            <a href="{% url 'contractor_contracts_list' object.id %}" class="dropdown-item">Договоры</a>
        </li>

        <li>
            <a href="{% url 'contractor_orders_list' object.id %}"
               class="dropdown-item">Заказы</a>
        </li>

        <li>
            <a href="{% url 'contact_persons_list' object.id %}" class="dropdown-item">Контактные
                лица контрагента</a>
        </li>
    </ul>
</div>


<div class="dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
       data-bs-toggle="dropdown" aria-expanded="false">
        Прикрепленные файлы
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% for file_category in files_categories %}
        <li>
            <a href="{% url 'contractor_files_list' object.id file_category.slug %}" class="dropdown-item">{{
                file_category.title }}</a>
        </li>
        {% endfor %}
        <li>
            <a href="{% url 'contractor_files_list' object.id 'all' %}" class="dropdown-item">Все файлы</a>
        </li>
    </ul>
</div>


<h1>Информация о контрагенте</h1>
<div class="card col-9">
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">
            <a href="{% url 'contractor_edit' object.id %}" class="btn btn-primary">Редактировать</a>
        </li>
        {% if contractor.to_delete %}
        <li class="list-group-item">
            <a href="{% url 'contractor_to_delete' object.id %}" class="btn btn-danger">Снять пометку на удаление</a>
        </li>
        {% else %}
        <li class="list-group-item">
            <a href="{% url 'contractor_to_delete' object.id %}" class="btn btn-danger">Пометить на удаление</a>
        </li>
        {% endif %}
    </ul>
    <div class="card-body d-flex justify-content-between">
        <h5 class="card-title">{{ object.title }}</h5>
        {% if contractor.to_delete %}
        <p class="text-danger fw-bold">Помечен на удаление</p>
        {% endif %}
        <p class="text-success">{{ object.status }}</p>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                    role="tab" aria-controls="home" aria-selected="true">Основная информация
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                    role="tab" aria-controls="profile" aria-selected="false">Контактные данные и реквизиты
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="more-tab" data-bs-toggle="tab" data-bs-target="#more" type="button"
                    role="tab" aria-controls="more" aria-selected="false">Дополнительно
            </button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Должность: {{ object.position }} ({{ object.position_en }})</li>
                <li class="list-group-item">Обращение: {{ object.appeal }} ({{ object.appeal_en }})</li>
                <li class="list-group-item">Имя: {{ object.name }}</li>
                <li class="list-group-item">Отчество: {{ object.second_name }}</li>
                <li class="list-group-item">Фамилия: {{ object.last_name }}</li>
            </ul>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Страна: {{ object.country }}</li>
                <li class="list-group-item">Юр. адрес: {{ object.legal_address }}</li>
                <li class="list-group-item">Факт. адрес: {{ object.actual_address }}</li>
                <li class="list-group-item">Реквизиты: {{ object.requisites }}</li>
            </ul>
        </div>
        <div class="tab-pane fade" id="more" role="tabpanel" aria-labelledby="more-tab">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Ответственный: {{ object.responsible }}</li>
            </ul>
        </div>

</div>

{% if contacts %}
<h4 class="text-center mt-4 border-top border-bottom pb-1">Контактные данные</h4>
<table class="table" id="contact-form-wrapper">
    <thead>
    <tr>
        <th scope="col">Тип контакта</th>
        <th scope="col">Контактные данные</th>
        <th scope="col">Имя контакта</th>
    </tr>
    </thead>
    <tbody>
    {% for contact in contacts %}
    <tr class="contact-form-container">
        <td>{{ contact.type_of_contact }}</td>
        <td>{{ contact.contact }}</td>
        <td>{{ contact.contact_name }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

{% if comments %}
<h2>Комментарии к контрагенту</h2>
{% for comment in comments %}
<div class="row">
    <div class="col-5">
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">{{ comment.user }}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ comment.text }}</li>
                <li class="list-group-item">Дата создания: {{ comment.created }}</li>
            </ul>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}

<form class="card col-4 mt-2" name="comment-form" method="post" action="{% url 'contractor_detail' object.id %}">
    <div class="card-body">
        <h5 class="card-title">Оставить комментарий</h5>
    </div>
    {% csrf_token %}
    <ul class="list-group list-group-flush">
        {{ comment_form.text.errors }}
        <li class="list-group-item">{{ comment_form.text }}</li>
    </ul>
    <div class="card-body">
        <input class="btn btn-primary col-3" type="submit" value="Добавить">
    </div>
</form>
{% endblock %}