{% extends 'base.html' %}

{% block title %}Спецификации{% endblock %}

{% block content %}
<div class="dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
       data-bs-toggle="dropdown" aria-expanded="false">
        Навигация по контрагенту
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li>
            <a href="{% url 'contractor_detail' contractor_id %}"
               class="dropdown-item">Контрагент</a>
        </li>

        <li>
            <a href="{% url 'contractor_contracts_list' contractor_id %}" class="dropdown-item">Договоры</a>
        </li>

        <li>
            <a href="{% url 'contact_persons_list' contractor_id %}" class="dropdown-item">Контактные
                лица контрагента</a>
        </li>
    </ul>
</div>

<h1>Заказы</h1>

{% if orders %}
<div class="row">
    {% for order in orders %}
    {% if order.to_delete %}
    <div class="mb-5 col-4">
        <div class="card text-white bg-secondary">
            <div class="card-body">
                <h5 class="card-title">Заказ №{{ order.number }}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary">Договор: {{ order.contract }}</li>
            </ul>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary">Клиент: {{ order.contract.contractor }}</li>
            </ul>
            <div class="card-body">
                <a href="{% url 'order_detail' order.id %}" class="btn btn-primary">Открыть</a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="mb-5 col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Заказ №{{ order.number }}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Договор: {{ order.contract }}</li>
            </ul>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Клиент: {{ order.contract.contractor }}</li>
            </ul>
            <div class="card-body">
                <a href="{% url 'order_detail' order.id %}" class="btn btn-primary">Открыть</a>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endif %}
{% endblock %}