{% extends 'base.html' %}

{% block title %}Инвойсы{% endblock %}

{% block content %}

<ul class="nav nav-pills pt-2 pb-2">
    <li class="col-2">
        <a href="{% url 'contractor_detail' contractor_id %}" class="btn btn-primary col-11">Контрагент</a>
    </li>

    <li class="col-2">
        <a href="{% url 'contractor_contracts_list' contractor_id %}" class="btn btn-primary col-11">Договоры</a>
    </li>

    <li class="col-2">
        <a href="{% url 'contractor_specifications_list' contractor_id %}" class="btn btn-primary col-11">Спецификации</a>
    </li>
</ul>

<h1>Инвойсы</h1>

{% if invoices %}
<div class="row">
    {% for invoice in invoices %}
    <div class="mb-5 col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Инвойс №{{ invoice.number }}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Спецификация: {{ invoice.specification }}</li>
            </ul>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Клиент: {{ invoice.specification.contract.contractor }}</li>
            </ul>
            <div class="card-body">
                <a href="{% url 'invoice_detail' invoice.id %}" class="btn btn-primary">Открыть</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}