name: Pylint

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install Django
        pip install pylint
        pip install pylint-django
    - name: Analysing the code with pylint
      run: |
        pylint --load-plugins=pylint_django init-hook="from pylint.config import find_pylintrc;import os, sys; sys.path.append('..')" `ls -R|grep .py$|xargs`
