name: Pylint

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pylint
        pip install pylint-django
    - name: Analysing the code with pylint
      run: |
        pylint --load-plugins=pylint_django --exit-zero --reports=no --django-settings-module=firmmanager.settings --output-format=colorized app_crm/views.py app_documents/views.py app_organizations/views.py app_storage/views.py
